@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-blue: #20498E;
  --color-green: #76B72A;
  --color-red: #C71517;
  --color-yellow: #FAD53D;
  --color-darkyellow: #E9C73E;
  --color-dark-text: #2E383C;
  --color-white-text: #ffffff;

  --map-background-color: white;
  --map-station-basic-width: 10px;
  --map-station-point-width: 19px;
  --map-line-color-yl: #FAD53D;
  --map-line-color-pk: #D76886;
  --map-line-color-gr: #7AB420;
  --map-line-color-gw: #00807D;
  --map-line-color-gold: #a88b34;
  --map-line-color-white: #ffffff;
  --map-line-stroke-width: 9px;

  --bodyFont: 'Sarabun', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--bodyFont) !important;
  font-weight: 400;
}